@font-face {
  font-family: TTCommonsExtraBold;
  src: url("ExtraBold.otf") format('opentype');
}

@font-face {
  font-family: TTCommonsRegular;
  src: url("Regular.otf") format('opentype');
}

@font-face {
  font-family: TTCommonsDemiBold;
  src: url("DemiBold.otf") format('opentype');
}

html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #181616;
  background: white;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align:
}

#layer_info i {
  color: #888;
  font-weight: normal;
}

#infobox {
  background-color: white;
  min-height: 100px;
  max-height: 100vh;
  padding: 15px;
  font-size: 1.1em;
  overflow-y: scroll;
}

#info h3 {}

h4 {
  font-weight: 800;
  font-size: 1em;
}

.info-head h1 {
  color: #224b87;
  /* margin: 0px 0px 15px 0px;
  padding-bottom: 12px;
  border-bottom: thin dotted black; */
  font-size: 2.3em;
  line-height: 1em;
  letter-spacing: -0.022em;
}

#info {
  /* background-color: yellow; */
}

#info-body {
  /*border-bottom: thin #222 dotted;*/
  border-top: thin #222 dotted;
  padding: 10px 0px 5px 0px;
  margin: 15px 0px;
}

.info-body-break {
  border-top: thin #222 dotted;
  border-bottom: none;
  width: 60%;
}

h2 {
  font-size: 1.4em;
}

h3 {
  color: #224b87;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.1em;
  margin: 12px 0px 16px 0px;
}

#military_corner_text {
  font-weight: normal;
  text-align: left;
}

pre {
  background: #eee;
  margin-left: 2em;
  padding:6px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table:nth-of-type(2) {
  /* margin-top: 20px; */
}

th, td {
  text-align: left;
  padding: 2px 8px;
  line-height: 1.35em;
  vertical-align: middle;
}

tr {
  border-top: 1px dotted lightgray;
}

#vertices th {
  width: 90%;
}

th {
  width: 60%;
  font-size: 1em;
  text-align: right;
}

tr:nth-child(odd) {
  background: #F5F3ED;
}

table tr .head {
  /* background-color: #005CB9; */
  background-color: #06A3D7;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

img.thumb {
  object-fit: contain;
  max-width: 240px;
}

img.photo {
  object-fit: contain;
  max-width: 240px;
}

img.zoomed {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
}

.lot_label {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0;
  border: 0;
  border-radius: 0px;
  font-size: 1em;
  color: #ff6644;
  font-weight: 800;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.journalLink {
  padding: 1em;
  font-weight: bold;
}

.leaflet-control-attribution {
  font-size: 9px;
}

.leaflet-control.leaflet-legend {
  margin-bottom: 1.5em;
}

.leaflet-legend-item i {
  margin-right: 0.5em;
}

.leaflet-legend-contents::after {
  content: '(click to toggle on/off)';
  font-style: italic;
}

.leaflet-sidebar-close {
  width: 20px;
}

.leaflet-sidebar-pane {
  padding-top: 0;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  font-size: 14px;
  /* max-width: 300px; */
}

.plus-icon {
  background-image: url('./../fonts/icon_plus_large.svg');
}


.leaflet-control-layers-list label {
	margin-bottom: 0px;
}

@media (max-width: 1024px) {
  .info-head h1 {
    font-size: 2em;
  }

  #info-cnty-name h3 {
    font-size: 1.5em;
  }

  th, td {
    text-align: left;
    /* padding: 8px; */
    padding: 8px;
    line-height: 1em;
    font-size: .8em;
    vertical-align: middle;
  }

  th {
    font-size: .9em;
  }

  table tr .head {
    font-size: .8em;
  }

  #infobox {
    max-height: 100%;
    overflow-y: visible;
  }
}

@media (max-width: 756px) {

}

@media (max-width: 375px) {}




/* for fieldbook page layouts */

div.wrap {
  display: grid;
  grid-template-columns: 4em 1fr 2fr 4em;
  grid-template-rows: 2em 1fr 2em;
}

div.default {
  padding: 1em;
}

header {
  background: #000;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  position: sticky;
  top: 0;
  grid-column: 1/5;
  grid-row: 1;
}

footer {
  background: #000;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  position: sticky;
  bottom: 0;
  grid-column: 1/5;
  grid-row: 3;
}

nav {
  width: 1.3em; /* because font-size is 300% */
  top: 40%;
  text-align: center;
  position: fixed;
  font-size: 300%;
}

nav.prev {
  left:0
}

nav.next {
  right:0
}

nav a {
  color: #68c;
  text-decoration: none;
}
nav a:hover {
  color: #34f;
}

section.image {
  text-align: center;
  grid-row: 2;
  grid-column: 2;
}

section.image img {
  width: 90%;
  padding: 1em 0;
}

section.image img:hover {
  cursor: pointer;
  opacity: 70%;
}

section.transcript {
  padding: 0 1% 2em;
  grid-column: 3;
  grid-row: 2;
}

section.transcript table {
  width: auto;
  margin: 1em;
}
section.transcript tr {
  background:#fff
}
section.transcript th, section.transcript td {
  text-align: left;
  width: auto;
  border: 1px solid #000;
}

div.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #444;
  text-align: center;
}

div.modal img {
  max-width: 100%;
}