@font-face {
  font-family: TTCommonsExtraBold;
  src: url("ExtraBold.otf") format('opentype');
}

@font-face {
  font-family: TTCommonsRegular;
  src: url("Regular.otf") format('opentype');
}

@font-face {
  font-family: TTCommonsDemiBold;
  src: url("DemiBold.otf") format('opentype');
}

html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #181616;
  background: white;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-align:
}

#layer_info i {
  color: #888;
  font-weight: normal;
}

#infobox {
  background-color: white;
  min-height: 100px;
  max-height: 100vh;
  padding: 15px;
  font-size: 1.1em;
  overflow-y: scroll;
}

#info h3 {}

h4 {
  font-weight: 800;
  font-size: 1em;
}

.info-head h1 {
  color: #224b87;
  /* margin: 0px 0px 15px 0px;
  padding-bottom: 12px;
  border-bottom: thin dotted black; */
  font-size: 2.3em;
  line-height: 1em;
  letter-spacing: -0.022em;
}

#info {
  /* background-color: yellow; */
}

#info-body {
  /*border-bottom: thin #222 dotted;*/
  border-top: thin #222 dotted;
  padding: 10px 0px 5px 0px;
  margin: 15px 0px;
}

.info-body-break {
  border-top: thin #222 dotted;
  border-bottom: none;
  width: 60%;
}

h2 {
  font-size: 1.4em;
}

h3 {
  color: #224b87;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.1em;
  margin: 12px 0px 16px 0px;
}

#military_corner_text {
  font-weight: normal;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table:nth-of-type(2) {
  /* margin-top: 20px; */
}

th, td {
  text-align: left;
  padding: 2px 8px;
  line-height: 1.35em;
  vertical-align: middle;
}

tr {
  border-top: 1px dotted lightgray;
}

#vertices th {
  width: 90%;
}

th {
  width: 60%;
  font-size: 1em;
  text-align: right;
}

tr:nth-child(odd) {
  background: #F5F3ED;
}

table tr .head {
  /* background-color: #005CB9; */
  background-color: #06A3D7;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

img.photo {
  object-fit: contain;
  max-width: 240px;
}

img.zoomed {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
}

.lot_label {
  background: rgba(255, 255, 255, 0);
  border: 0;
  border-radius: 0px;
  box-shadow: 0 0px 0px;
  font-size: .85em;
  color: rgb(0,0,0);
  font-weight: 800;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
  font-size: 14px;
  /* max-width: 300px; */
}

/* thead td {
  font-size: 1.5em;
  font-weight: bolder;
  letter-spacing: -0.022em;
  line-height: 1em;
  font-family: 'TTCommonsDemiBold', sans-serif;
} */
.charts-head {
  /* padding: 8px; */
}

#charts-pane .charts-head {
  /* padding-top: 0px; */
}

.charts-head p {
  margin: 0px;
  /* padding: 10px 5px;	 */
  font-size: 1.3em;
  line-height: 1.1em;
  letter-spacing: -0.01em;
}

#legend-pane {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 8px;
}

#legend-pane h3 {
  margin: 0px;
  padding-bottom: 10px;
  font-size: 1.2em;
  font-family: 'TTCommonsDemiBold', sans-serif;
  letter-spacing: -0.022em;
  line-height: 1em;
}

.legend {
  text-align: left;
  line-height: 18px;
  /* color: #555; */
  font-size: 0.9em;
}

.legend i {
  width: 13px;
  height: 13px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}

/* .info button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  float: right;
  position: relative;
  border: none;
}

.info button:hover {
  background-color: #E5E5E5;
}

.info button i {
  font-style: normal;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: block;
} */
.plus-icon {
  background-image: url('./../fonts/icon_plus_large.svg');
}


.leaflet-control-layers-list label {
	margin-bottom: 0px;

}

#legend-button {
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

#charts-button {
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

@media (max-width: 1024px) {
  #legend-pane {
    display: block;
  }

  .info-head h1 {
    font-size: 2em;
  }

  #info-cnty-name h3 {
    font-size: 1.5em;
  }

  th, td {
    text-align: left;
    /* padding: 8px; */
    padding: 8px;
    line-height: 1em;
    font-size: .8em;
    vertical-align: middle;
  }

  th {
    font-size: .9em;
  }

  table tr .head {
    font-size: .8em;
  }

  #infobox {
    max-height: 100%;
    overflow-y: visible;
  }
}

@media (max-width: 756px) {

}

@media (max-width: 375px) {}




/* for fieldbook page layouts */

div.wrap {
  display: grid;
  grid-template-columns: 5em 1fr 2fr 5em;
  grid-template-rows: 2em 1fr 2em;
}

header {
  background: #000;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  position: sticky;
  top: 0;
  grid-column: 1/5;
  grid-row: 1;
}

footer {
  background: #000;
  color: #fff;
  padding: 0.5em;
  text-align: center;
  position: sticky;
  bottom: 0;
  grid-column: 1/5;
  grid-row: 3;
}

nav {
  width: 5em;
  top: 40%;
  text-align: center;
  position: fixed;
  font-size: 150%;
}

nav.prev {
  left:0
}

nav.next {
  right:0
}

nav a {
  color: #68c;
}
nav a:hover {
  color: #34f;
}

section.image {
  text-align: center;
  grid-row: 2;
  grid-column: 2;
}

section.image img {
  width: 90%;
  padding: 1em 0;
}

section.image img:hover {
  cursor: pointer;
  opacity: 70%;
}

section.transcript {
  padding: 0 1% 2em;
  grid-column: 3;
  grid-row: 2;
}

section.transcript table {
  width: auto;
  margin: 1em;
}
section.transcript tr {
  background:#fff
}
section.transcript th, section.transcript td {
  text-align: left;
  width: auto;
  border: 1px solid #000;
}

div.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #444;
  text-align: center;
}

div.modal img {
  max-width: 100%;
}