<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.town }} fieldbook, page {{ page.page }}</title>
    <link rel="stylesheet" href="/military-lots/css/style.css">
    <script>
      // enlarge the image into a modal that covers the screen
      function enlarge(img) {
        let modal = document.createElement('div')
        modal.classList.add('modal')
        modal.onclick = function() {
          this.remove()
        }
        let bigimg = document.createElement('img')
        bigimg.src = img.src
        modal.append(bigimg)
        document.getElementsByTagName('body')[0].append(modal)
      }
      
      // pressing 'ESCAPE' key will close modal
      document.addEventListener('keydown', e => {
        const k = e.key.toUpperCase()
        if (k === 'ESCAPE') {
          document.querySelector('.modal').remove()
        }
      })
    </script>
  </head>
  <body>
    <header>
      {% if page.page > 1 %}
        <a class="prev" href="page-{{ page.page | minus:1 | prepend: '0' | slice: -2, 2 }}">previous page</a>
      {% endif %}
    
      {{ page.town }} fieldbook, page {{ page.page }}
    
      {% assign numpages = 0 %}
      {% for item in site.pages %}
        {% if item.town == page.town %}
          {% assign numpages = numpages | plus:1 %}
        {% endif %}
      {% endfor %}
      {% if page.page < numpages %}
        <a class="next" href="page-{{ page.page | plus:1 | prepend: '0' | slice: -2, 2 }}">next page</a>
      {% endif %}
    </header>

    <section class="image">
      <img src="../image/fieldbook/{{ page.town | downcase }}-page-{{ page.page | prepend: '0' | slice: -2, 2 }}.jpg" onclick="enlarge(this)" title="click to enlarge">
    </section>
    <section class="transcript">
      {{ content }}
    </section>
    <footer>
      A project of the Backbone Ridge History Group
    </footer>
    
    {% assign numpages = 0 %}
    {% for item in site.pages %}
      {% if item.town == page.town %}
        {% assign numpages = numpages | plus:1 %}
        <br>numpages={{ numpages }}, town={{ page.town }}, page={{ page.page }} 
      {% endif %}
    {% endfor %}
  </body>
</html>