<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.town }} fieldbook, page {{ page.page }}</title>
    <link rel="stylesheet" href="/military-lots/css/style.css">
  </head>
  <body>
    <h1>{{ page.town }} fieldbook, page {{ page.page }}</h1>
    <section class="image">
      <img src="../image/fieldbook/{{ page.town | downcase }}-{{ page.page | prepend: '0' | slice: -2, 2 }}">
    </section>
    <section class="transcript">
      {{ content }}
    </section>
    <footer>
      A project of the Backbone Ridge History Group
    </footer>
  </body>
</html>